<!DOCTYPE html>
<html>
	<head>
	    <title><%= title %> - Kix Eye Test 2</title>
	    <meta charset="UTF-8">
	    <meta name="viewport" content="width=device-width">
	</head>
	<body>
        <form action="/api/user/login" id="login-form" method="post">
            <input id="username" name="userName" type="text" placeholder="user name" required>
            <div class="bar">
                <i></i>
            </div>
            <input id="password" name="password" type="password" placeholder="password" required>
            <button id="login">Sign in</button>
        </form>
	</body>
	
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script>
		$(document).ready(function() {
			$("#login-form").submit(function(event) {
			    $.ajax({
			        type: "POST",
			         url: "/api/user/login",
			         data: $(this).serialize(),
			         success: function(data, textStatus, xhr) {
						 if (xhr.status == 200) {
							 window.location = '/';
						 } else {
							 alert(data);
						 }
			          },
					 complete: function(xhr, textStatus) {
					     if (xhr.status != 200) {
							 alert('Username or Password is not correct');
					     }
					  } 
			       });
				   
				event.preventDefault();
			});
		});
	</script>
</html>